.img-wrapper {
    position: relative;
    display: inline-block;
    width: 100%;
}
.nav {
    position: absolute;
    top: 0;
    width: 30%;
    height: 100%;
    cursor: pointer;
}
/* 左右區域 */
.nav.prev {
    left: 0;
}
.nav.next {
    right: 0;
}